*.pyc
/bin/tmux/tmux
/.gdb/init_host_end.gdb
/.gdb/init_host_start.gdb
/.gdb/init_os_end.gdb
/.gdb/init_os_start.gdb
/bin/bsi
/bin/build-service-interface/node_modules
/bin/build-service-interface/dist/
