[submodule ".tmux/tmux-sidebar"]
	path = .tmux/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar.git
[submodule ".tmux/tmux-yank"]
	path = .tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
