command script import ~/.lldb/misc.py

source_if_exists ~/.lldb/init_os_start.lldb
source_if_exists ~/.lldb/init_host_start.lldb

command source ~/.lldb/gdb.lldb
command script import ~/.lldb/emacs.py

source_if_exists ~/.lldb/init_os_end.lldb
source_if_exists ~/.lldb/init_host_end.lldb
